<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Asset Management</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><NavLink href="/" Match="NavLinkMatch.All" class="nav-link">Dashboard</NavLink></li>
                <li class="nav-item"><NavLink href="/employees" class="nav-link">Employees</NavLink></li>
                <li class="nav-item"><NavLink href="/assets" class="nav-link">Assets</NavLink></li>
                <li class="nav-item"><NavLink href="/assignments" class="nav-link">Assignments</NavLink></li>
                <li class="nav-item"><NavLink href="/reports" class="nav-link">Reports</NavLink></li>
            </ul>
        </div>
    </div>
</nav>
